.ulabel {
  font-size: x-large;
  margin: 0;
  margin-top: 2rem;
}

.div-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.div-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin: 2rem;
}

.rank-button {
  font-family: "BMZUA";
  background-color: #0842a0;
  font-size: large;
}

.rank-button:hover {
  background-color: darkblue;
}

.rank-button:disabled {
  background-color: gray;
}

.nickname-input[type="text"] {
  width: 10rem;
  height: 3rem;
  margin-right: 1rem;
}

.upgrade-label {
  font-size: x-large;
  margin-top: 2rem;
}

.upgrade-button {
  display: none;
}

.reset-button {
  display: none;
}

@media (max-width: 768px) {
  .upgrade-button {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 1rem;
    margin-top: 9px;
    padding: 15px;
    width: 15rem;
    height: 3rem;
    display: block;
    text-align: center;
    font-size: large;
  }

  .reset-button {
    background-color: transparent;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 2rem;
    display: block;
    font-size: 45px;
    padding: 0;
    margin: 0;
  }

  .reset-button:hover {
    background-color: transparent;
  }

  .upgrade-button:hover {
    background-color: #4caf50;
  }
}
