html,
body {
  margin: 0;
  padding: 0;
}

label {
  display: inline-block;
  font-size: 16px;
  margin: 10px 10px 5px 0;
}

input[type="text"] {
  width: 20rem;
  padding: 10px;
  border-radius: 5px;
  background-color: #555;
  color: white;
}

label,
input[type="text"] {
  vertical-align: middle;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 12px;
}

button:hover {
  background-color: #45a049;
}

#result,
#result2,
#result3 {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.single-line {
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.result-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.result-data {
  font-size: 14px;
  color: #555;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  font-size: 1rem;
  border-radius: 1rem;
  width: 26rem;
}

#wrap {
  min-height: 86vh;
  position: relative;
  width: 100%;
}

.big-img {
  height: 80px;
  max-width: 80%;
  display: block;
  /* 블록 요소로 설정 */
  margin: 0 auto;
  /* 좌우 여백을 자동으로 설정 */
}

h2 {
  text-align: center;
  /* 중앙 정렬 */
}

p {
  margin-top: 5px;
}
