/* 전체 네비게이션 바 */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: black;
}

/* 왼쪽 정렬 링크 */
.navbar-left {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/* 오른쪽 정렬 링크를 묶는 컨테이너 */
.navbar-right {
  display: flex;
  gap: 20px; /* 링크 간격 */
}

/* 오른쪽 정렬 링크 */
.navbar-right a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbarMenu {
  color: white;
  margin: 10px;
  text-decoration: none;
}
